*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: blue;
}
h1{
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    font-size: 60px;
    font-weight: bold;
}